{% extends 'base.html.twig' %}

{% block title %}MARTI{% endblock %}

{% block body %}


<div class="row justify-content-center align-items-center" style="height: 80vh; width:100%;">
    <div class="col-5.5">
        <a href="{{ path("patient_new") }}">
        <button id="start" class="btn btn-primary">
            <h1 class="text-center">START</h1>
        </button>
        </a>
    </div>
</div>


{% endblock %}
